<!DOCTYPE html>
<%= render :partial => "/shared/html_tag" %>
  <% site_bar = render(:partial => "/shared/site_bar", :locals => {:head => true}) -%>
  <%= render :partial => "/shared/head" %>
  <body>
    <%= site_bar -%>
    <%= render :partial => "/shared/ie6check" if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
    <div id="page_container" class="container_12 clearfix">
      <header class="grid_12">
        <%= render :partial => "/shared/header" -%>
      </header>
      <nav class="grid_12 clearfix">
        <ul>
          <li><%= link_to 'Home', '/' %></li>
          <li><%= link_to 'Products', '/products' %></li>
          <li>White Papers</li>
          <li><%= link_to 'Find an Agent', '/agents/find_an_agent' %></li>
          <li>Request a Quote</li>
        </ul>
        <div class="search">
        </div>
      </nav>
      <section id='page' class="grid_12">
        <%= yield %>
      </section>
      <footer class="grid_12">
        <%= render :partial => "/shared/footer" -%>
      </footer>
    </div>
    <%= render :partial => "/shared/javascripts" %>
  </body>
</html>
